MONGODB_URI=mongodb://127.0.0.1:27017/eoc-hub
JWT_SECRET=eoc-hub-secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=eoc-hub/circulars
PUBLIC_APP_URL=http://localhost:4000
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER= abdul00muqeet@gmail.com
SMTP_PASS= yagbxdyugksqchic
SMTP_FROM="Muqeet Abdul <abdul00muqeet>@gmail.com>"
TEST_EMAIL_RECIPIENT=abdul000muqeet@gmail.com
